body { /*estilos para el cuerpo*/
    height: 100%; /*especifica la altural al 100% de la pantalla*/
    margin: 0 auto; /*quita los margenes externos y centra el contenido*/
    padding: 0 20px; /*añade 0px arriba y abajo y 20px de espacio internoa los lados*/
    font-family: Calibri, sans-serif; /*especifica la fuente del contenido, primero usa calibri, y si no está usa sans-serif*/
    background-color: #f5f3ef; /*color del fondo*/
}

.cerrar { 
    display: inline-flex; /*hace que el elemento se ocmporte como bloque de línea y use flexbox*/
    justify-content: center; /*centra el contenido horizontalmente*/
    align-items: center; /*centra el contenido verticalmente*/

    width: 40px; /*ancho fijo de 40px*/
    height: 40px; /*alto fijo de 40px*/

    color: #6b6b6b; /*color del texto*/

    text-decoration: none; /*quita el decorado*/
    font-size: 28px; /*tamaño del a fuente*/
    font-weight: bold; /*texto en negrita*/

    border-radius: 50%; /*hace el borde circular*/

    position: absolute; /*posicion del elemento*/
    top: 10px; /*distancia borde superior*/
    right: 20px; /*distancia borde derecho*/
}

.header{
    display: flex; /*establece el contenido fflexible*/
    justify-content: space-between; /*justifica el espacio entre los elementos*/
    align-items: center; /*coloca los elementos en el centro*/
}


h1 {
    font-size: clamp(28px, 5vw, 56px); /*tamaño del h1*/
    color: #2c2c2c; /*color del h1*/
}

h2 {
    font-size: clamp(20px, 3.5vw, 36px); /*tamñao del h2*/
    color:#6b6b6b; /*color del h2*/
}

.mariaj{
    display: flex; /*hace que el contenido este en una fila*/
    justify-content: space-between; /*distribuye los elementos*/
    align-items: baseline; /*alinea los textos por la base de sus letras*/
    padding: 0 20px; /*espacio interno lateral*/
    margin-top: 10px; /*separacion superior*/
}

.empleado{
    font-size: clamp(26px, 4vw, 54px); /*tamaño texto empleado*/
    color:#2c2c2c; /*color texto*/
}

.tiempo{
    font-size: clamp(26px, 4vw, 54px); /*tamaño texto tiempo*/
    color:#2c2c2c; /*color texto*/
}

h3{
    text-align: right; /*alinea el texto a la derecha, el h3*/
    color:#6b6b6b; /*color del texto h3*/
}

footer{
    text-align: right; /*alineacin del texto a la derecha*/
    color:#6b6b6b; /*color del texto del pie de pagian*/
}

.container { /*contenedor principal*/
    height: 100%; /*ocupa el total de la altura*/
    display: grid; /*activa el grid*/
    grid-template-columns: repeat(3, 1fr); /*crea tres columnas*/
    grid-template-rows: repeat(2, 1fr); /*crea dos filas*/
    gap: 20px; /*espacio entre celdas*/
    padding: 20px; /*espacio interno*/
    box-sizing: border-box; /*asegura que el padding no aumente el tamaño del contenedor*/
}

button { /*botones*/
    font-size: 50px; /*tamaño del texto de los botones*/
    padding: 80px; /*espacio interno*/
    border: none; /*elimina los bordes*/
    border-radius: 20px; /*hace las esquinas redondas*/
    background-color: #4a5d73; /*color del fondo*/
    color: #ffffff; /*color de la fuente*/
    transition: transform 0.2s, background 0.2s; /*transicion suave al pasar el cursor por encima de los botones*/
}

button:hover {
    background-color: #3a4a5c; /*oscurece el azul al pasar el raton por encima de los botones*/
    transform: scale(1.05); /*aumenta el tamaño del boton al pasar el raton por encima*/
}

@media (max-width: 768px) {
    .container { /*en pantallas más pequeñas de 768px el grid pasa a dos columnas*/
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
    .container { /*en pantallas más pequeñas de 480px el grid pasa a una columna*/
        grid-template-columns: 1fr;
  }
}

p { /*estilo de los parrafos*/
  color: #6b6b6b; /*color del texto*/
  font-size: 18px; /*tamañp de la letra*/
  font-family: Calibri, sans-serif; /*fuente del texto, primero pone calibri y si no está pone sans-serif*/
  text-align: justify; /*ajusta el texto*/
  margin: 20px 0; /*margen de 20px arriba y abajo y 0 a los lados*/
}
